<!-- <h1>Hola! como estas?</h1>
<form method="POST" action="/sign-in">
	<label for="username">Username</label>
	<input type="text" name="username">
	<br>
	<label for="password">Password</label>
	<input type="password" name="password">
	<input type="submit">
</form> -->
<div class="row">
		<div id="months" class="col-md-1">
			<div class="row">
				<a href="/archive"><h5>Blog Archive</h5></a>
			</div>
			<div class="row">
				<a href="/archive/july"><h5>July</h5></a>
			</div>
			<div class="row">
				<a href="/archive/august"><h5>Aug</h5></a>
			</div>
			<div class="row">
				<a href="/archive/september"><h5>Sep</h5></a>
			</div>
			<div class="row">
				<a href="/archive/october"><h5>Oct</h5></a>
			</div>
		</div>
		<div id="feed" class="col-md-8">
			<div class="container">
			<div class="col-md-3">
				<div class="row">
					<a href="/archive/post1"><h5>Post1</h5></a>
				</div>
				<div class="row">
					<a href="/archive/post2"><h5>Post2</h5></a>
				</div>
				<div class="row">
					<a href="/archive/post3"><h5>Post3</h5></a>
				</div>
				<div class="row">
					<a href="/archive/post4"><h5>Post4</h5></a>
				</div>
				<div class="row">
					<a href="/archive/post5"><h5>Post5</h5></a>
				</div>
				</div>
				<div class="col-md-3">
				<div class="row">
				<a href="/archive/post6"><h5>Post6</h5></a>
				</div>
			
				<div class="row">
					<a href="/archive/post7"><h5>Post7</h5></a>
				</div>
				<div class="row">
					<a href="/archive/post8"><h5>Post8</h5></a>
				</div>
				<div class="row">
					<a href="/archive/post9"><h5>Post9</h5></a>
				</div>
				<div class="row">
					<a href="/archive/post10"><h5>Post10</h5></a>
				</div>
			</div>
			</div>
		</div>
		<div id="sponsors" class="col-md-2">
		<div class="row">
				<a href="/sponsor1"><h5>Sponsor1</h5></a>
			</div>
			<div class="row">
				<a href="/sponsor2"><h5>Sponsor2</h5></a>
			</div>
			<div class="row">
				<a href="/sponsor3"><h5>Sponsor3</h5></a>
			</div>
		</div>
</div>