<<<<<<< HEAD
=======

<div class="row">
  <div class="col-md-2">
    <div id="months" class="col-md-1">
		<div class="row">
			<h5>Months</h5>
		</div>
		<div class="row">
			<a href="/archive/july"><h5>July</h5></a>
		</div>
		<div class="row">
			<a href="/archive/august"><h5>Aug</h5></a>
		</div>
		<div class="row">
			<a href="/archive/september"><h5>Sep</h5></a>
		</div>
		<div class="row">
			<a href="/archive/october"><h5>Oct</h5></a>
		</div>
	</div>
  </div>
  <div class="col-md-10">
    <div class="posts">
    	<% @posts.each do|post| %>
   			<article><a href="/posts/<%=post.id%>"></a></article>
   		<%end%>
    </div>
  </div>
</div>






<!-- <h1>Send email to a hacker</h1>
<form method="POST" action="/email">
		<label for="title">Subject</label>
		<input type="text" name="[email]subject">
		<br>
		<label for="text">Content</label>
		<textarea name="[emails]content"></textarea>
		<input type="submit">
</form> --> --> -->
>>>>>>> 6df9b7ad5234c6096e2f85da12d4b8ff3001b6a5
