<h1>Hola! como estas?</h1>
<form method="POST" action="/sign-in">
	<label for="username">Username</label>
	<input type="text" name="username">
	<br>
	<label for="password">Password</label>
	<input type="password" name="password">
	<input type="submit">
</form>