  <!DOCTYPE html>
<html>
<head>
	<link rel="icon"
	      type="image/png"
	      href="images/club-icon.png">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap-grid.css">
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<title><%= @title %></title>
</head>
<body>
<div class="container">
	<div id="header" class="row">
		<div class="col-md-3">
			<a href="/"><h1>Venues</h1></a>
		</div>
		<div class="col-md-9">
			
		</div>
	</div>
	<div id="nav" class="row">
		<div class="col-md-12">
			<nav>
				<ul>
					<a href="/"><li>Home</li></a>
					<a href="/profile"><li>Profile</li></a>
					<a href="/archive"><li>Blog Archive</li></a>
				</ul>
			</nav>
		</div>
	</div>
</div>
<div class="container">
	<%= yield %>
</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p id="contact">Contact Us</p>
			</div>
	</div>
</footer>
<div id="contact" >
<h3>Contact Us</h3>
<div id="close">x</div>
	<form method="POST" action = "/about" id="comments">
		<input type="text" name="name" placeholder="Name">
		<input type="email" name="email" placeholder="Email">
		<input type="text" name="subject" placeholder="Subject">
		<textarea name="comment" placeholder="Questions? Comments? Concerns?"></textarea>
		<input type="submit" name="submit">
	</form>
</div>
<script src="/js/main.js"></script>
</body>
</html>