<div class="row">
	<div class="col-md-12">
	    <div class="article">
	    	<% @posts.each do |post| %>
	   			<article><a href="/post/<%= post.id %>">
	   			<h5><%= post.title %></h5>
	   			<p><%= post.content %></p>
	   			</a></article>
	   		<% end %>
	    </div>
	</div>
</div>