<!-- <h1>Send email to a hacker</h1>
<form method="POST" action="/profile">
		<label for="title">Subject</label>
		<input type="text" name="[email]subject">
		<br>
		<label for="text">Content</label>
		<textarea name="[emails]content"></textarea>
		<input type="submit">
</form> -->