<div class="row">
	<div class="col-md-12 userpage">
		<div class="row">
		</div>
		<div class="row">
		 <h2><%= @user.fname %> <%= @user.lname %></h2> 
		 </div>
		 <br>
		 <div class="row">
		 <p><%= @user.bio %></p>
		</div>
	</div>
 </div>