/*general*/
* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url("../images/club2.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
	width: 98%;
}
a {
	text-decoration-style: none;	
	text-decoration-line: none;
	color: white;
}

/*header*/
#header {
	background: linear-gradient(90deg, rgba(12,0,58,1), rgba(12,0,58,.7));
	margin-top: 50px;
	height: 100px;
}
#header #signup, #header #signin {
	height: 30px;
	padding: 5px;
	margin-top: 25px;
	border: 1px solid black;
	text-align: center;
	background: linear-gradient(black,rgba(100,100,100,.5));
	color: white;
	cursor: pointer;
}
h1 {
	width: 240px;
	margin: 30px auto;
	text-align: center;
}
li {
	list-style-type: none;
	display: inline-block;
	margin: 3px 20px;
	float: left;
}
#nav {
	margin-bottom: 50px;
	background-color: rgba(100,100,100,.5);
	height: 30px;
}

/*Homepage*/

.shade {
	/*background-color: darkgrey;*/
	padding-top: 20px;
	border-radius: 2%;
}
/*.shade-su {
	background-color: rgba(100,100,100,.8);
	padding: 50px;
	margin: 50px;
}*/
/*.shade-su label {
	color: white;
	font-size: 15px;
}
.shade-su input {
	margin-bottom: 20px;
}
.shade-su p {
	color: white;
	font-size: 25px;
	text-align: center;
	margin: 20px;
}*/
/*#months .row {
	height: 30px;
	background-color: rgba(100,100,100,.7);
	border: 1px solid grey;
	margin-bottom: 5px;
}
#months .row a {
	width: 100%;
	text-align: center;
	font-size: 20px
}*/
#feed {
	margin: 0 5px auto 5px;
	display: inline-block;
	padding: 10px;
}
.posts {
	height: 100px;
	background: linear-gradient(90deg, rgba(12,0,58,1), rgba(12,0,58,.3));
	margin:0 5px 20px 5px;
	border-radius: 5%;
	border: 5px solid black;
	padding: 20px;
	height: 150px;
	text-align: center;
}
#sponsors .row {
	height: 200px;
	background-color: darkgrey;
	border: 1px solid grey;
	margin: 40px auto;
}
#months h5, #feed h5, #sponsors h5 {
	color: white;
}
#feed p {
	color: darkgrey;
	font-size: 15px;
}
.posts img{
	margin: 20px;
}
.posts h5{
	color: white;
	margin: 20px;
}

/*footer & sign in box*/
footer {
	background-color: black;
	height: 200px;
	padding: 20px;
	bottom: 0;
}
#contactbtn, footer p {
	width: 200px;
	color: white;
	top: 20%;
	left: 20%;
	cursor: pointer;
	margin: 5px;
}
#contact, #signinbox {
	width: 600px;
	height: 350px;
	background-color: rgba(100,100,100,.8);
	border: 2px solid black;
	padding: 30px 50px;
	border-radius: 25px;
	position: fixed;
	text-align: center;
	top: 20%;
	left: 20%;
	display: none;
	z-index: 1;
}
#contact h3, #signinbox{
	color: white;
	text-align: center;
}
#close, #close2 {
	right: 15px;
	top: 10px;
	position: absolute;
	cursor: pointer;
	color: white;
}

form input{
		display: block;
		width: 100%;
		height: 20px;
		font-size: 16px;
		margin-top: 10px;
		padding: 10px;
		background-color: rgba(224,224,224,1);}
form textarea{
	height: 100px;
	display: block;
	width: 100%;
	font-size: 16px;
	margin-top: 10px;
	background-color: rgba(224,224,224,1);
	color: white;
	padding: 10px;
}
form input[name="submit"]{
	width: 80px;
	height: 25px;
	margin: 10px auto;
	padding: 1px;
}
.profile {
	background-color: grey;
}

.posts {
	background-color: darkgrey;
}

.write {
	background-color: darkgrey;
	margin: 100px;
}

article {
	margin: 20px;
	border: 2px solid white;
	background-color: darkgrey;
	float: left;
	width: 300px;
	height: 100px;
}
article p {
	color: black;
}
article h5 {
	background-color: grey;
	text-align: center;
	width: 100%;
	padding: 5px;
}

.indivpost {
	background: linear-gradient(rgba(12,0,58,1), rgba(12,0,200,.7));
	font-color: white;
	margin: 200px;
	height: 200px;
}
.indivpost h2 {
	margin: 20px;
	font-size: 40px;
	text-align: center;
	color: white;
}
.indivpost p {
	color: white;
	text-align: center;
	font-size: 20px;
}
